.input {
    position: relative;
    
    &__label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(.5rem * 0.75) calc(.5rem * .5);
      margin: calc(.5rem * 0.75 + 3px) calc(.5rem * .5);
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      transition: transform 120ms ease-in;
      font-weight: bold;
      line-height: 1.2;
      background: white;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 3px solid currentColor;
      padding: calc(.5rem * 1.5) .5rem;
      color: currentColor;
      background: transparent;
      border-radius: 4px;
      
      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(.25rem, -65%) scale(.8);
        }
      }
    }
  }