.side-menu{
    position: absolute;
    left: var(--side-menu-width-minus);
    top: 0;
    transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
    // height: calc(100% - var(--header-and-footer-height));
    z-index: var(--side-menu-z-index);
    background-color: white;
    box-shadow: 1px 0px 0px rgb(0 0 0 / 7%);
    height: 100%;
    width: var(--side-menu-width);
    border-right: 1px solid var(--border-color-gray);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.menu-open-right {
        left: 0;
    }
}